@import "normalize";
@import "variables";
@import "libs";
@import "../fonts/font-awesome/scss/font-awesome.scss";

*::-webkit-input-placeholder{
  color: #666;
  opacity: 1;
}


*:-moz-placeholder{
  color: #666;
  opacity: 1;
}


*::-moz-placeholder{
  color: #666;
  opacity: 1;
}


*:-ms-input-placeholder{
  color: #666;
  opacity: 1;
}
.hidden{
  display: none;
}
.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}
.wrap-content{
  max-width: 1400px;
  margin: 0 auto;
}
.ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-size: 18px;
  font-family: $fo;
  font-weight: 400;
  color: black;
}
.text{
  font-size: 24px;
  font-weight: 300;
  color: #6B6B6B;
  line-height: 33px;
}
a,input,button,textarea{
  outline: none;
}
p,h1,h2,h3{
  margin: 0;
}
//import elements and pages

@import "elements/header";
@import "elements/post";
@import "elements/news";
@import "pages/index";




